.hexagon {
    position: relative;
    margin: 70px;
    background: linear-gradient(to left, DarkBlue, DodgerBlue);
    border-radius: 10px;
    width: 200px;
    height: 120px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
  }
  
  /* Pseudo-elements to create the hexagon shape */
  .hexagon:before,
  .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background: linear-gradient(to left, DarkBlue, DodgerBlue);
    border-radius: inherit;
    height: 100%;
    width: 100%;
  }
  
  /* Rotate pseudo-elements to form the hexagon shape */
  .hexagon:before {
    transform: rotate(60deg);
  } 
   .hexagon:after {
    transform: rotate(-60deg);
  }
  
  /* Styling for h3 and p elements inside hexagon */
  .hexagon h3,
  .hexagon p {

    z-index: 3;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
  
  .hexagon h3 {
    top: -10px; /* Adjust as needed */
  }
  
  .hexagon p {
    bottom: 30px; /* Adjust as needed */
  }
  