.navbar {
    position: fixed;
    width: 100%;
    background-color: #168582;
    top: 0;
    height: 60px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li a, .navbar li {
    margin-right: 0px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar li a:hover {
    color: rgb(0, 255, 85);
}

.navbar li a {
    color: white;
}

.navbar li {
    color: white;
}

.profile-icon {
    cursor: pointer;
    color: white;
    border-radius: 50%;
    position: relative;
    transform: translateY(-5px);
}

.profile-icon img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    border: 0.5px solid;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.navbar button:hover, .navbar button:focus {
    color: rgb(0, 255, 85);
    text-decoration: underline;
}
