/* ProfileDropdown.css */
.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100%; /* Position the dropdown below the profile icon */
    right: 30%;
    background-color: #f9f9f9;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    margin-top: 10px;
  }
  
  .profile-dropdown a:hover {
    background-color: #f1f1f1;
    color: rgb(8, 181, 255);
  }

  #profile-dropdown-link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #profile-dropdown-link a:hover {
    background-color: #f1f1f1;
    color: rgb(10, 143, 19);
  }
  