.LoginScreen {
    text-align: center;
    margin-top: 10%;
    display: block;
    flex-direction: column;
    transform: translateY(30%);
    
}
body{
    background-color: lightgray;
}
span{
    font-size: 16px;
    font-weight: 400;
    color: darkcyan;
    font-weight: bold;
}
.pass{
    transform: translateX();
}

.logbtn{
    width: 150px;
    height: 40px;
    border-radius: 5px ;
    font-size: 20px;
    margin: 20px;
    background-color: lightblue;
    
}

.visible{
    margin: 5px;
}
.loginstatus{
    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
        width: fit-content;
        height: fit-content;
}
input[type=checkbox] {
    margin-bottom: 15px;
}
input[type=email] {
    margin: 15px;
    height: 25px;
    width: 200px;

}

input[type=password] {
    height: 25px;
    width: 200px;
    margin: 15px;
    
}