.RegistrationScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(171, 170, 170);
    border-radius: 5px;
    width: 50%;
}


.gender{
    margin: 0;
    width: 5%;
    height: 5%;
}
input[type=checkbox]{
    margin: 0px;
    height: fit-content;
    width: 35px;

}
input{
     margin: 15px;
    height: 25px;
    width: 200px; 

}
